<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/LayoutPadrao}">
<head></head>

<body>
<!-- 	<div class="main-wrapper"> -->
<!-- 		<div class="page-wrapper"> -->
			<div class="content mt-5" layout:fragment="conteudo">
				<div class="row">
					<div class="col-sm-12">
						<h4 class="page-title">Atividades</h4> </div>
				</div>
				<div class="row mt-3">
					<div class="col-md-12">
						<div class="activity">
							<div class="activity-box">
								<ul class="activity-list">
									<li class="activity-list_li">
										<div class="activity-user">
											<a href="profile.html" title="Lesley Grauer" data-toggle="tooltip" class="avatar"> <img alt="Lesley Grauer" th:src="@{/layout/admin/assets/img/profiles/avatar-01.jpg}" class="img-fluid rounded-circle"> </a>
										</div>
										<div class="activity-content">
											<div class="timeline-content"> <a href="profile.html" class="name">Lesley Grauer</a> adicionou novo trabalho <a href="activities.html">Para a equipe</a> <span class="time">há 4 minutos</span> </div>
										</div> <a class="activity-delete" href="" title="Excluir">&times;</a> </li>
									<li class="activity-list_li">
										<div class="activity-user">
											<a href="profile.html" title="Lesley Grauer" data-toggle="tooltip" class="avatar"> <img alt="Lesley Grauer" th:src="@{/layout/admin/assets/img/profiles/avatar-02.jpg}" class="img-fluid rounded-circle"> </a>
										</div>
										<div class="activity-content">
											<div class="timeline-content"> <a href="profile.html" class="name">Lesley Grauer</a> adicionou novo trabalho <a href="activities.html">Para a equipe</a> <span class="time">há 4 minutos</span> </div>
										</div> <a class="activity-delete" href="" title="Excluir">&times;</a> </li>
									<li class="activity-list_li">
										<div class="activity-user">
											<a href="profile.html" title="Catherine Manseau" data-toggle="tooltip" class="avatar"> <img alt="Catherine Manseau" th:src="@{/layout/admin/assets/img/profiles/avatar-03.jpg}" class="img-fluid rounded-circle"> </a>
										</div>
										<div class="activity-content">
											<div class="timeline-content"> <a href="profile.html" class="name">Catherine Manseau</a> concluiu <a href="activities.html">Reserva de quarto com pagamento</a> <span class="time">há 12 minutos</span> </div>
										</div> <a class="activity-delete" href="" title="Excluir">&times;</a> </li>
									<li class="activity-list_li">
										<div class="activity-user">
											<a href="#" title="Bernardo Galaviz" data-toggle="tooltip" class="avatar"> <img alt="Bernardo Galaviz" th:src="@{/layout/admin/assets/img/profiles/avatar-04.jpg}" class="img-fluid rounded-circle"> </a>
										</div>
										<div class="activity-content">
											<div class="timeline-content"> <a href="profile.html" class="name">Bernardo Galaviz</a> alterou o quarto <a href="activities.html">para disponível</a> <span class="time">há 1 dia</span> </div>
										</div> <a class="activity-delete" href="" title="Excluir">&times;</a> </li>
									<li class="activity-list_li">
										<div class="activity-user">
											<a href="profile.html" title="Mike Litorus" data-toggle="tooltip" class="avatar"> <img alt="Mike Litorus" th:src="@{/layout/admin/assets/img/profiles/avatar-05.jpg}" class="img-fluid rounded-circle"> </a>
										</div>
										<div class="activity-content">
											<div class="timeline-content"> <a href="profile.html" class="name">Mike Litorus</a> reservou novo quarto para <a href="activities.html">videoconferência</a> <span class="time">há 2 dias</span> </div>
										</div> <a class="activity-delete" href="" title="Excluir">&times;</a> </li>
									<li class="activity-list_li">
										<div class="activity-user">
											<a href="profile.html" title="Jeffery Lalor" data-toggle="tooltip" class="avatar"> <img alt="Jeffery Lalor" th:src="@{/layout/admin/assets/img/profiles/avatar-06.jpg}" class="img-fluid rounded-circle"> </a>
										</div>
										<div class="activity-content">
											<div class="timeline-content"> <a href="profile.html" class="name">Jeffery Lalor</a> adicionou <a href="profile.html" class="name">Jeffrey Warden</a> e <a href="profile.html" class="name">Bernardo Galaviz</a> à vila <a href="activities.html">Privada</a> <span class="time">há 7 dias</span> </div>
										</div> <a class="activity-delete" href="" title="Excluir">&times;</a> </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- 		</div> -->
<!-- 	</div> -->
	<script th:src="@{/layout/admin/assets/js/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/layout/admin/assets/js/popper.min.js}"></script>
	<script th:src="@{/layout/admin/assets/js/bootstrap.min.js}"></script>
	<script th:src="@{/layout/admin/assets/js/moment.min.js}"></script>
	<script th:src="@{/layout/admin/assets/js/select2.min.js}"></script>
	<script th:src="@{/layout/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/layout/admin/assets/js/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/layout/admin/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/layout/admin/assets/plugins/datatables/datatables.min.js}"></script>
	<script th:src="@{/layout/admin/assets/js/script.js}"></script>
<!-- 	<script th:src="@{/layout/admin/assets/plugins/raphael/raphael.min.js}"></script> -->
<!-- 	<script th:src="@{/layout/admin/assets/plugins/morris/morris.min.js}"></script> -->
<!-- 	<script th:src="@{/layout/admin/assets/js/chart.morris.js}"></script> -->
	
	
	<script>
	$(function() {
		$('#datetimepicker3').datetimepicker({
			format: 'LT'
		});
	});
	</script>
</body>

</html>