<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">

<head>
</head>

<body>
    <div class="content container-fluid" layout:fragment="conteudo">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title mt-5">Adicionar Despesa</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form>
                    <div class="row formtype">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nome do Item</label>
                                <input class="form-control" type="text" value=""> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Comprado de</label>
                                <input class="form-control" type="text" value=""> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Data da Compra</label>
                                <div class="cal-icon">
                                    <input type="text" class="form-control datetimepicker"> </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Comprado por</label>
                                <select class="form-control" id="sel1" name="sellist1">
                                    <option>Selecione</option>
                                    <option>Daniel Porter</option>
                                    <option>Terry Baker</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Valor</label>
                                <input class="form-control" type="text" value="$50"> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Pago por</label>
                                <select class="form-control" id="sel2" name="sellist1">
                                    <option>Selecione</option>
                                    <option>Dinheiro</option>
                                    <option>Cheque</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" id="sel3" name="sellist1">
                                    <option>Selecione</option>
                                    <option>Pendente</option>
                                    <option>Aprovado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Upload de Arquivo</label>
                                <div class="custom-file mb-3">
                                    <input type="file" class="custom-file-input" id="customFile" name="filename">
                                    <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button type="button" class="btn btn-primary buttonedit1">Criar Despesa</button>
    </div>
</body>

</html>