<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">
<head></head>

<body>
    <div class="main-wrapper login-body login_class" layout:fragment="conteudo">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox login_pswd">
                    <div class="login-right">
                        <div class="login-right-wrap mb-5 mt-5">
                            <h1>Alterar Senha</h1>
                            <form action="login.html">
                                <div class="form-group mt-5">
                                    <label>SENHA ANTIGA</label>
                                    <input class="form-control" type="password" placeholder="Senha antiga"> </div>
                                <div class="form-group">
                                    <label>NOVA SENHA</label>
                                    <input class="form-control" type="password" placeholder="Nova senha"> </div>
                                <div class="form-group">
                                    <label>CONFIRMAR SENHA</label>
                                    <input class="form-control" type="password" placeholder="Confirmar senha"> </div>
                                <div class="form-group mt-5">
                                    <button class="btn btn-primary btn-block" type="submit">Atualizar Senha</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>