<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">
<head></head>
<body>
    <div class="content mt-5" layout:fragment="conteudo">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Mensagem</h4>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="card-box">
                    <form>
                        <div class="form-group">
                            <input type="email" placeholder="Para" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" placeholder="Cc" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" placeholder="Cco" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Assunto" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea rows="4" cols="5" class="form-control summernote" placeholder="Digite sua mensagem aqui"></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <div class="text-center compose-btn">
                                <button class="btn btn-primary"><span>Enviar</span> <i class="fas fa-paper-plane m-l-5"></i></button>
                                <button class="btn btn-success m-l-5" type="button"><span>Rascunho</span> <i class="far fa-save m-l-5"></i></button>
                                <button class="btn btn-success m-l-5" type="button"><span>Excluir</span> <i class="far fa-trash-alt m-l-5"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>