<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<head></head>
<body>

	<div class="content mt-5" layout:fragment="conteudo">
		<div class="row mt-5">
			<div class="col-sm-12">
				<h4 class="page-title">Criar Fatura</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<form>
					<div class="row mt-5">
						<div class="col-md-3">
							<div class="form-group">
								<label>Tipo de Quarto</label> <select class="form-control" id="sel1"
									name="sellist1">
									<option>Selecionar</option>
									<option>Individual</option>
									<option>Duplo</option>
									<option>Quádruplo</option>
									<option>King</option>
									<option>Suíte</option>
									<option>Vila</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Tipo de Quarto</label> <select class="form-control" id="sel2"
									name="sellist1">
									<option>Selecionar</option>
									<option>Individual</option>
									<option>Duplo</option>
									<option>Quádruplo</option>
									<option>King</option>
									<option>Suíte</option>
									<option>Vila</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>E-mail</label> <input class="form-control" type="email">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Tipo de Quarto</label> <select class="form-control" id="sel3"
									name="sellist1">
									<option>Selecionar</option>
									<option>Individual</option>
									<option>Duplo</option>
									<option>Quádruplo</option>
									<option>King</option>
									<option>Suíte</option>
									<option>Vila</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Endereço do Cliente</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Endereço de Cobrança</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Data da Fatura <span class="text-danger">*</span></label>
								<div class="cal-icon">
									<input class="form-control datetimepicker" type="text">
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Data de Vencimento <span class="text-danger">*</span></label>
								<div class="cal-icon">
									<input class="form-control datetimepicker" type="text">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="table-responsive">
								<table class="table table-hover table-white">
									<thead>
										<tr>
											<th style="width: 20px">#</th>
											<th class="col-sm-2">Item</th>
											<th class="col-md-6">Descrição</th>
											<th style="width: 100px;">Custo Unitário</th>
											<th style="width: 80px;">Qtd</th>
											<th>Valor</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td><input class="form-control" type="text"
												style="min-width: 150px"></td>
											<td><input class="form-control" type="text"
												style="min-width: 150px"></td>
											<td><input class="form-control" style="width: 100px"
												type="text"></td>
											<td><input class="form-control" style="width: 80px"
												type="text"></td>
											<td><input class="form-control" readonly=""
												style="width: 120px" type="text"></td>
											<td><a href="javascript:void(0)"
												class="text-success font-18" title="Adicionar"><i
													class="fas fa-plus"></i></a></td>
										</tr>
										<tr>
											<td>2</td>
											<td><input class="form-control" type="text"
												style="min-width: 150px"></td>
											<td><input class="form-control" type="text"
												style="min-width: 150px"></td>
											<td><input class="form-control" style="width: 100px"
												type="text"></td>
											<td><input class="form-control" style="width: 80px"
												type="text"></td>
											<td><input class="form-control" readonly=""
												style="width: 120px" type="text"></td>
											<td><a href="javascript:void(0)"
												class="text-danger font-18" title="Remover"><i
													class="fas fa-trash-alt"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="table-responsive">
								<table class="table table-hover table-white">
									<tbody>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td class="text-right">Total</td>
											<td
												style="text-align: right; padding-right: 30px; width: 230px">0
											</td>
										</tr>
										<tr>
											<td colspan="5" class="text-right">Imposto</td>
											<td
												style="text-align: right; padding-right: 30px; width: 230px">
												<input class="form-control text-right form-amt" value="0"
												readonly="" type="text">
											</td>
										</tr>
										<tr>
											<td colspan="5" class="text-right">Desconto %</td>
											<td
												style="text-align: right; padding-right: 30px; width: 230px">
												<input class="form-control text-right" type="text">
											</td>
										</tr>
										<tr>
											<td colspan="5" style="text-align: right; font-weight: bold">
												Total Geral</td>
											<td
												style="text-align: right; padding-right: 30px; font-weight: bold; font-size: 16px; width: 230px">
												$ 0.00</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>Outras Informações</label>
										<textarea class="form-control"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-primary buttonedit">Salvar</button>
				</form>
				</div>
			</div>
		</div>
</body>
</html>