<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<head></head>

<body>

	<div class="content mt-5" layout:fragment="conteudo">
		<div class="row ">
			<div class="col-lg-12">
				<form>
					<h3 class="page-title">Editar Ativo</h3>
					<div class="row mt-4">
						<div class="col-md-4">
							<div class="form-group">
								<label>Nome do Ativo <span class="text-danger">*</span></label>
								<input class="form-control" type="text" value="Jim machine">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>ID do Ativo</label> <input class="form-control "
									value="#JM-0001" type="text">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Data de Compra</label> <input class="form-control "
									value="" type="text">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Compra de</label> <input class="form-control " value=""
									type="text">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Fabricante</label> <input class="form-control " value=""
									type="text">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Modelo</label> <input class="form-control " value=""
									type="text">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Número de Série</label> <input class="form-control "
									value="" type="text">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Fornecedor</label> <input class="form-control " value=""
									type="text">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Condição</label> <input class="form-control " value=""
									type="text">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Garantia</label> <input class="form-control "
									value="In Months" type="text">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Valor</label> <input class="form-control " value="$62480"
									type="text">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Usuário do Ativo</label> <select class="form-control"
									id="sel1" name="sellist1">
									<option>John Doe</option>
									<option>Richard Miles</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Descrição</label>
								<textarea class="form-control"></textarea>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Status</label> <select class="form-control" id="sel2"
									name="sellist1">
									<option>Pendente</option>
									<option>Aprovado</option>
									<option>Em Uso</option>
									<option>Gerenciado</option>
								</select>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	<button type="button" class="btn btn-primary buttonedit mr-5 mt-5">Salvar</button>
	</div>

</body>

</html>