<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<head></head>

<body>
	<div class="content mt-5" layout:fragment="conteudo">
		<div class="row">
			<div class="col-lg-12">
				<form>
					<div class="form-group">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="mailoption"
								id="phpmail" value="option1"> <label
								class="form-check-label" for="phpmail">Envio via PHP</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="mailoption"
								id="smtpmail" value="option2"> <label
								class="form-check-label" for="smtpmail">SMTP</label>
						</div>
					</div>
					<h4>Configurações de Email (PHP)</h4>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Endereço de e-mail do remetente</label> <input class="form-control"
									type="email">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Nome do remetente</label> <input class="form-control"
									type="text">
							</div>
						</div>
					</div>
					<h4 class="m-t-30">Configurações de Email (SMTP)</h4>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Host SMTP</label> <input class="form-control" type="text">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Usuário SMTP</label> <input class="form-control" type="text">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Senha SMTP</label> <input class="form-control"
									type="password">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Porta SMTP</label> <input class="form-control" type="text">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Segurança SMTP</label> <select class="form-control"
									id="sel1" name="sellist1">
									<option>Selecionar</option>
									<option>Nenhuma</option>
									<option>SSL</option>
									<option>TLS</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Domínio de autenticação SMTP</label> <input
									class="form-control" type="text">
							</div>
						</div>
					</div>
					<div class="col-sm-12 m-t-20 text-center">
						<button type="button" class="btn btn-primary submit-btn">Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>