<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<head></head>

<div class="content container-fluid" layout:fragment="conteudo">

	<div class="page-header mt-5">
		<div class="row">
			<div class="col">
				<h3 class="page-title">Grupos de Entrada</h3>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Exemplos Básicos</h4>
				</div>
				<div class="card-body">
					<form action="#">
						<div class="form-group row">
							<label class="col-form-label col-lg-2">Grupo à esquerda</label>
							<div class="col-lg-10">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">@</span>
									</div>
									<input type="text" class="form-control" placeholder="Nome de usuário"
										aria-label="Username" aria-describedby="basic-addon1">
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-lg-2">Grupo à direita</label>
							<div class="col-lg-10">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Nome de usuário do destinatário"
										aria-label="Recipient's username"
										aria-describedby="basic-addon2">
									<div class="input-group-append">
										<span class="input-group-text" id="basic-addon2">@exemplo.com</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-lg-2">Exemplo de URL</label>
							<div class="col-lg-10">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">https://</span>
									</div>
									<input type="text" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-lg-2">Grupo com preço</label>
							<div class="col-lg-10">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">R$</span>
									</div>
									<input type="text" class="form-control">
									<div class="input-group-append">
										<span class="input-group-text">,00</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row mb-0">
							<label class="col-form-label col-lg-2">Grupo com preço
								(Esquerda)</label>
							<div class="col-lg-10">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">R$</span>
									</div>
									<div class="input-group-prepend">
										<span class="input-group-text">0,00</span>
									</div>
									<input type="text" class="form-control">
								</div>
							</div>
						</div>
					</form>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Dimensionamento</h4>
					</div>
					<div class="card-body">
						<form action="#">
							<div class="form-group row">
								<label class="col-form-label col-lg-2">Grupo de entrada grande</label>
								<div class="col-lg-10">
									<div class="input-group input-group-lg">
										<div class="input-group-prepend">
											<span class="input-group-text" id="sizing-addon1">@</span>
										</div>
										<input type="text" class="form-control" placeholder="Nome de usuário"
											aria-describedby="sizing-addon1">
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-2">Grupo de entrada
								Padrão</label>
								<div class="col-lg-10">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="sizing-addon2">@</span>
										</div>
										<input type="text" class="form-control" placeholder="Nome de usuário"
											aria-describedby="sizing-addon2">
									</div>
								</div>
							</div>
							<div class="form-group row mb-0">
								<label class="col-form-label col-lg-2">Grupo de entrada pequeno</label>
								<div class="col-lg-10">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text" id="sizing-addon3">@</span>
										</div>
										<input type="text" class="form-control" placeholder="Nome de usuário"
											aria-describedby="sizing-addon3">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Checkbox e Rádio Addons</h4>
					</div>
					<div class="card-body">
						<form action="#">
							<div class="form-group row">
								<label class="col-form-label col-lg-2">Checkbox</label>
								<div class="col-lg-10">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> <input type="checkbox">
											</span>
										</div>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group row mb-0">
								<label class="col-form-label col-lg-2">Rádio</label>
								<div class="col-lg-10">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> <input type="radio">
											</span>
										</div>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Múltiplos Addons</h4>
					</div>
					<div class="card-body">
						<form action="#">
							<div class="form-group row">
								<label class="col-form-label col-lg-2">Rádio e Texto
								Addons</label>
								<div class="col-lg-10">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> <input type="checkbox">
											</span>
										</div>
										<div class="input-group-prepend">
											<span class="input-group-text">R$</span>
										</div>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group row mb-0">
								<label class="col-form-label col-lg-2">Dois Addons</label>
								<div class="col-lg-10">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">R$</span>
										</div>
										<div class="input-group-prepend">
											<span class="input-group-text">0,00</span>
										</div>
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Botões com dropdowns</h4>
					</div>
					<div class="card-body">
						<form action="#">
							<div class="form-group row">
								<label class="col-form-label col-lg-2">Rádio e Texto
									Addons</label>
								<div class="col-lg-10">
									<div class="input-group">
										<div class="input-group-prepend">
											<button type="button" class="btn btn-white dropdown-toggle"
											data-toggle="dropdown">Ação</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="#">Ação</a> <a
													class="dropdown-item" href="#">Outra ação</a> <a
													class="dropdown-item" href="#">Algo mais aqui</a>
												<div role="separator" class="dropdown-divider"></div>
												<a class="dropdown-item" href="#">Link separado</a>
											</div>
										</div>
									<input type="text" class="form-control"
										placeholder="Dropdown à esquerda">
								</div>
							</div>
							</div>
							<div class="form-group row mb-0">
								<label class="col-form-label col-lg-2">Dois Addons</label>
								<div class="col-lg-10">
									<div class="input-group">
										<input type="text" class="form-control"
											placeholder="Dropdown à direita">
										<div class="input-group-append">
											<button type="button" class="btn btn-white dropdown-toggle"
												data-toggle="dropdown">Ação</button>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#">Ação</a> <a
														class="dropdown-item" href="#">Outra ação</a> <a
														class="dropdown-item" href="#">Algo mais aqui</a>
													<div role="separator" class="dropdown-divider"></div>
													<a class="dropdown-item" href="#">Link separado</a>
													</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>