<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<head></head>
<body>

	<div class="content container-fluid mt-5" layout:fragment="conteudo">

		<div class="page-header">
			<div class="row">
				<div class="col">
					<h3 class="page-title">Formulário Vertical</h3>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Formulário Básico</h4>
					</div>
					<div class="card-body">
						<form action="#">
							<div class="form-group">
								<label>Nome</label> <input type="text"
									class="form-control">
							</div>
							<div class="form-group">
								<label>Sobrenome</label> <input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label>Endereço de e-mail</label> <input type="email"
									class="form-control">
							</div>
							<div class="form-group">
								<label>Nome de usuário</label> <input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label>Senha</label> <input type="password"
									class="form-control">
							</div>
							<div class="form-group">
								<label>Repetir senha</label> <input type="password"
									class="form-control">
							</div>
							<div class="text-right">
								<button type="submit" class="btn btn-primary">Enviar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Formulário de Endereço</h4>
					</div>
					<div class="card-body">
						<form action="#">
							<div class="form-group">
								<label>Endereço Linha 1</label> <input type="text"
									class="form-control">
							</div>
							<div class="form-group">
								<label>Endereço Linha 2</label> <input type="text"
									class="form-control">
							</div>
							<div class="form-group">
								<label>Cidade</label> <input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label>Estado</label> <input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label>País</label> <input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label>Código Postal</label> <input type="text"
									class="form-control">
							</div>
							<div class="text-right">
								<button type="submit" class="btn btn-primary">Enviar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Formulário Vertical em Duas Colunas</h4>
					</div>
					<div class="card-body">
						<form action="#">
							<h4 class="card-title">Informações Pessoais</h4>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Nome</label> <input type="text"
											class="form-control">
									</div>
									<div class="form-group">
										<label>Sobrenome</label> <input type="text"
											class="form-control">
									</div>
									<div class="form-group">
										<label>Tipo sanguíneo</label> <select class="select">
											<option>Selecione</option>
											<option value="1">A+</option>
											<option value="2">O+</option>
											<option value="3">B+</option>
											<option value="4">AB+</option>
										</select>
									</div>
									<div class="form-group">
										<label class="d-block">Gênero:</label>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gender"
												id="gender_male" value="option1"> <label
												class="form-check-label" for="gender_male">Masculino</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="gender"
												id="gender_female" value="option2"> <label
												class="form-check-label" for="gender_female">Feminino</label>
										</div>
									</div>
									</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Nome de usuário</label> <input type="text"
											class="form-control">
									</div>
									<div class="form-group">
										<label>E-mail</label> <input type="text" class="form-control">
									</div>
									<div class="form-group">
										<label>Senha</label> <input type="text"
											class="form-control">
									</div>
									<div class="form-group">
										<label>Repetir senha</label> <input type="text"
											class="form-control">
									</div>
								</div>
							</div>
							<h4 class="card-title">Endereço Postal</h4>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Endereço Linha 1</label> <input type="text"
											class="form-control">
									</div>
									<div class="form-group">
										<label>Endereço Linha 2</label> <input type="text"
											class="form-control">
									</div>
									<div class="form-group">
										<label>Estado</label> <input type="text" class="form-control">
									</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Cidade</label> <input type="text" class="form-control">
										</div>
										<div class="form-group">
											<label>País</label> <input type="text" class="form-control">
										</div>
										<div class="form-group">
											<label>Código Postal</label> <input type="text"
												class="form-control">
										</div>
									</div>
								</div>
								<div class="text-right">
									<button type="submit" class="btn btn-primary">Enviar</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>