<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<head>
<link rel="stylesheet"
	href="../../../ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
</head>

<body>
	<div class="content container-fluid" layout:fragment="conteudo">
		<section class="container mt-5">
			<h1 class="my-4 mt-5 text-center text-lg-left image_title">Galeria de Imagens</h1>
			<div class="row gallery">
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
					<a href="assets/img/product/product-01.jpg">
						<figure>
							<img class="img-fluid img-thumbnail"
								th:src="@{/layout/admin/assets/img/product/product-01.jpg}"
								alt="Imagem aleatória">
						</figure>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
					<a href="assets/img/product/product-02.jpg">
						<figure>
							<img class="img-fluid img-thumbnail"
								th:src="@{/layout/admin/assets/img/product/product-02.jpg}"
								alt="Imagem aleatória">
						</figure>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
					<a href="assets/img/product/product-03.jpg">
						<figure>
							<img class="img-fluid img-thumbnail"
								th:src="@{/layout/admin/assets/img/product/product-03.jpg}"
								alt="Imagem aleatória">
						</figure>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
					<a href="assets/img/product/product-04.jpg">
						<figure>
							<img class="img-fluid img-thumbnail"
								th:src="@{/layout/admin/assets/img/product/product-04.jpg}"
								alt="Imagem aleatória">
						</figure>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
					<a href="assets/img/product/product-05.jpg">
						<figure>
							<img class="img-fluid img-thumbnail"
								th:src="@{/layout/admin/assets/img/product/product-05.jpg}"
								alt="Imagem aleatória">
						</figure>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
					<a href="assets/img/product/product-06.jpg">
						<figure>
							<img class="img-fluid img-thumbnail"
								th:src="@{/layout/admin/assets/img/product/product-06.jpg}"
								alt="Imagem aleatória">
						</figure>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
					<a href="assets/img/product/product-07.jpg">
						<figure>
							<img class="img-fluid img-thumbnail"
								th:src="@{/layout/admin/assets/img/product/product-07.jpg}"
								alt="Imagem aleatória">
						</figure>
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-xs-6 thumb">
					<a href="assets/img/product/product-08.jpg">
						<figure>
							<img class="img-fluid img-thumbnail"
								th:src="@{/layout/admin/assets/img/product/product-08.jpg}"
								alt="Imagem aleatória">
						</figure>
					</a>
				</div>
			</div>
		</section>
	</div>
	</div>

	</div>
	<script
		src="../../../ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/script.js"></script>
	<script>
		$(function() {
			$('#datetimepicker3').datetimepicker({
				format : 'LT'

			});
		});
		$(document)
				.ready(
						function() {
							$(".gallery")
									.magnificPopup(
											{
												delegate : "a",
												type : "image",
												tLoading : "Carregando imagem #%curr%...",
												mainClass : "mfp-img-mobile",
												gallery : {
													enabled : true,
													navigateByImgClick : true,
													preload : [ 0, 1 ]
												// Will preload 0 - before current, and 1 after the current image
												},
												image : {
													tError : '<a href="%url%">A imagem #%curr%</a> não pôde ser carregada.'
												}
											});
						});
	</script>
</body>
</html>