<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<head></head>

<body>

	<div class="page-wrapper" style="min-height: 417px; padding-top: 60px !important;" >

		<div class="call-box incoming-box" layout:fragment="conteudo">
			<div class="call-wrapper">
				<div class="call-inner">
					<div class="call-user">
						<img class="call-avatar"  th:src="@{/layout/admin/assets/img/profiles/avatar-11.jpg}"
							alt="">
						<h4>Wilmer Deluna</h4>
						<span>Chamando ...</span>
					</div>
					<div class="call-items">
						<a href="chat.html" class="btn call-item call-end"><i
							class="material-icons">call_end</i></a> <a href="video-call.html"
							class="btn call-item call-start"><i class="material-icons">call</i></a>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>