<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<head></head>
<body>
<div class="content mt-5" layout:fragment="conteudo">
<div class="row ">
<div class="col-lg-12">
<form>
<h3 class="page-title">Configurações da Empresa</h3>
<div class="row mt-4">
<div class="col-md-4">
<div class="form-group">
<label>País padrão</label>
<select class="form-control" id="sel1" name="sellist1">
<option>Select</option>
<option>USA</option>
<option>London</option>
</select>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label>Fuso horário</label>
<select class="form-control" id="sel2" name="sellist1">
<option>Select</option>
<option>(UTC+5.30)Antartica/palmer</option>
</select>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label>Idioma padrão</label>
<select class="form-control" id="sel3" name="sellist1">
<option>Select</option>
<option>Inglês</option>
<option>Tamil</option>
<option>Francês</option>
</select>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label>Código da moeda</label>
<select class="form-control" id="sel4" name="sellist1">
<option>Select</option>
<option>USD</option>
<option>Pound</option>
<option>Euro</option>
</select>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label>Símbolo da moeda</label>
<input class="form-control " value="Daniel Porter" type="text">
</div>
</div>
</div>
</form>
<button type="button" class="btn btn-primary buttonedit mr-5 mt-5">Salvar</button>
</div>
</div>
</div>
</body>
</html>