<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<head></head>
<body>
<div class="main-wrapper">
<!-- header/sidebar removidos -->
<div class="page-wrapper">
<div class="content container-fluid" layout:fragment="conteudo">
<h3 class="page-title">Preços</h3>
<div class="row">
<div class="col-sm-12">
<section class="pricing py-5">
<div class="container">
<div class="row  mt-5">

<div class="col-lg-3">
<div class="card mb-5 mb-lg-0">
<div class="card-body">
<h5 class="card-title text-muted text-uppercase text-center">Single</h5>
<h6 class="card-price text-center mt-3">$15<span class="period"></span>
</h6>
<hr>
<ul class="fa-ul">
<li><span class="fa-li"><i class="fas fa-check"></i></span>Café da manhã grátis</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Wi-Fi grátis</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Ar-condicionado</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Lavanderia</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Estacionamento</li>
</ul>
<a href="edit-pricing.html" class="btn btn-block btn-primary text-uppercase">Editar</a>
</div>
</div>
</div>

<div class="col-lg-3">
<div class="card mb-5 mb-lg-0">
<div class="card-body">
<h5 class="card-title text-muted text-uppercase text-center">Double</h5>
<h6 class="card-price text-center mt-3">$25<span class="period"></span>
</h6>
<hr>
<ul class="fa-ul">
<li><span class="fa-li"><i class="fas fa-check"></i></span>Café da manhã grátis</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Wi-Fi grátis</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Ar-condicionado</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Lavanderia</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Estacionamento</li>
</ul>
<a href="edit-pricing.html" class="btn btn-block btn-primary text-uppercase">Editar</a>
</div>
</div>
</div>

<div class="col-lg-3">
<div class="card">
<div class="card-body">
<h5 class="card-title text-muted text-uppercase text-center">Family</h5>
<h6 class="card-price text-center mt-3">$35<span class="period"></span>
</h6>
<hr>
<ul class="fa-ul">
<li><span class="fa-li"><i class="fas fa-check"></i></span>Café da manhã grátis</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Wi-Fi grátis</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Ar-condicionado</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Lavanderia</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Estacionamento</li>
</ul>
<a href="edit-pricing.html" class="btn btn-block btn-primary text-uppercase">Editar</a>
</div>
</div>
</div>
<div class="col-lg-3">
<div class="card mb-5 mb-lg-0">
<div class="card-body">
<h5 class="card-title text-muted text-uppercase text-center">Double</h5>
<h6 class="card-price text-center mt-3">$25<span class="period"></span>
</h6>
<hr>
<ul class="fa-ul">
<li><span class="fa-li"><i class="fas fa-check"></i></span>Café da manhã grátis</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Wi-Fi grátis</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Ar-condicionado</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Lavanderia</li>
<li><span class="fa-li"><i class="fas fa-check"></i></span>Estacionamento</li>
</ul>
<a href="edit-pricing.html" class="btn btn-block btn-primary text-uppercase">Editar</a>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>

</div>
</body>
</html>