<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<head></head>
<body>

<!-- <div class="mt-5"> -->
<div class="content container-fluid mt-5" layout:fragment="conteudo">
<section class="comp-section">
<div class="section-header">
<h3 class="section-title">Tabs</h3>
<div class="line"></div>
</div>
<div class="row">
<div class="col-md-6">
<div class="card">
<div class="card-header">
<h4 class="card-title">Abas Básicas</h4>
</div>
<div class="card-body">
<ul class="nav nav-tabs">
<li class="nav-item"><a class="nav-link active" href="#basictab1" data-toggle="tab">Home</a></li>
<li class="nav-item"><a class="nav-link" href="#basictab2" data-toggle="tab">Perfil</a></li>
<li class="nav-item"><a class="nav-link" href="#basictab3" data-toggle="tab">Mensagens</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane show active" id="basictab1">
Conteúdo da aba 1
</div>
<div class="tab-pane" id="basictab2">
Conteúdo da aba 2
</div>
<div class="tab-pane" id="basictab3">
Conteúdo da aba 3
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card">
<div class="card-header">
<h4 class="card-title">Abas justificadas básicas</h4>
</div>
<div class="card-body">
<ul class="nav nav-tabs nav-justified">
<li class="nav-item"><a class="nav-link active" href="#basic-justified-tab1" data-toggle="tab">Início</a></li>
<li class="nav-item"><a class="nav-link" href="#basic-justified-tab2" data-toggle="tab">Perfil</a></li>
<li class="nav-item dropdown">
<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Dropdown</a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="#basic-justified-tab3" data-toggle="tab">Dropdown 1</a>
<a class="dropdown-item" href="#basic-justified-tab4" data-toggle="tab">Dropdown 2</a>
</div>
</li>
</ul>
<div class="tab-content">
<div class="tab-pane show active" id="basic-justified-tab1">
Conteúdo da aba 1
</div>
<div class="tab-pane" id="basic-justified-tab2">
Conteúdo da aba 2
</div>
<div class="tab-pane" id="basic-justified-tab3">
Conteúdo da aba 3
</div>
<div class="tab-pane" id="basic-justified-tab4">
Conteúdo da aba 4
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="card">
<div class="card-header">
<h4 class="card-title">Abas de linha superior</h4>
</div>
<div class="card-body">
<ul class="nav nav-tabs nav-tabs-top">
<li class="nav-item"><a class="nav-link active" href="#top-tab1" data-toggle="tab">Início</a></li>
<li class="nav-item"><a class="nav-link" href="#top-tab2" data-toggle="tab">Perfil</a></li>
<li class="nav-item"><a class="nav-link" href="#top-tab3" data-toggle="tab">Mensagens</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane show active" id="top-tab1">
Conteúdo da aba 1
</div>
<div class="tab-pane" id="top-tab2">
Conteúdo da aba 2
</div>
<div class="tab-pane" id="top-tab3">
Conteúdo da aba 3
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card">
<div class="card-header">
<h4 class="card-title">Abas superiores justificadas</h4>
</div>
<div class="card-body">
<ul class="nav nav-tabs nav-tabs-top nav-justified">
<li class="nav-item"><a class="nav-link active" href="#top-justified-tab1" data-toggle="tab">Início</a></li>
<li class="nav-item"><a class="nav-link" href="#top-justified-tab2" data-toggle="tab">Perfil</a></li>
<li class="nav-item"><a class="nav-link" href="#top-justified-tab3" data-toggle="tab">Mensagens</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane show active" id="top-justified-tab1">
Conteúdo da aba 1
</div>
<div class="tab-pane" id="top-justified-tab2">
Conteúdo da aba 2
</div>
<div class="tab-pane" id="top-justified-tab3">
Conteúdo da aba 3
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="card">
<div class="card-header">
<h4 class="card-title">Abas de linha inferior</h4>
</div>
<div class="card-body">
<ul class="nav nav-tabs nav-tabs-bottom">
<li class="nav-item"><a class="nav-link active" href="#bottom-tab1" data-toggle="tab">Início</a></li>
<li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Perfil</a></li>
<li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">Mensagens</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane show active" id="bottom-tab1">
Conteúdo da aba 1
</div>
<div class="tab-pane" id="bottom-tab2">
Conteúdo da aba 2
</div>
<div class="tab-pane" id="bottom-tab3">
Conteúdo da aba 3
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card">
<div class="card-header">
<h4 class="card-title">Abas inferiores justificadas</h4>
</div>
<div class="card-body">
<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
<li class="nav-item"><a class="nav-link active" href="#bottom-justified-tab1" data-toggle="tab">Início</a></li>
<li class="nav-item"><a class="nav-link" href="#bottom-justified-tab2" data-toggle="tab">Perfil</a></li>
<li class="nav-item"><a class="nav-link" href="#bottom-justified-tab3" data-toggle="tab">Mensagens</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane show active" id="bottom-justified-tab1">
Conteúdo da aba 1
</div>
<div class="tab-pane" id="bottom-justified-tab2">
Conteúdo da aba 2
</div>
<div class="tab-pane" id="bottom-justified-tab3">
Conteúdo da aba 3
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="card">
<div class="card-header">
<h4 class="card-title">Abas sólidas</h4>
</div>
<div class="card-body">
<ul class="nav nav-tabs nav-tabs-solid">
<li class="nav-item"><a class="nav-link active" href="#solid-tab1" data-toggle="tab">Início</a></li>
<li class="nav-item"><a class="nav-link" href="#solid-tab2" data-toggle="tab">Perfil</a></li>
<li class="nav-item"><a class="nav-link" href="#solid-tab3" data-toggle="tab">Mensagens</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane show active" id="solid-tab1">
Conteúdo da aba 1
</div>
<div class="tab-pane" id="solid-tab2">
Conteúdo da aba 2
</div>
<div class="tab-pane" id="solid-tab3">
Conteúdo da aba 3
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card">
<div class="card-header">
<h4 class="card-title">Abas sólidas justificadas</h4>
</div>
<div class="card-body">
<ul class="nav nav-tabs nav-tabs-solid nav-justified">
<li class="nav-item"><a class="nav-link active" href="#solid-justified-tab1" data-toggle="tab">Início</a></li>
<li class="nav-item"><a class="nav-link" href="#solid-justified-tab2" data-toggle="tab">Perfil</a></li>
<li class="nav-item"><a class="nav-link" href="#solid-justified-tab3" data-toggle="tab">Mensagens</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane show active" id="solid-justified-tab1">
Conteúdo da aba 1
</div>
<div class="tab-pane" id="solid-justified-tab2">
Conteúdo da aba 2
</div>
<div class="tab-pane" id="solid-justified-tab3">
Conteúdo da aba 3
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="card">
<div class="card-header">
<h4 class="card-title">Abas sólidas arredondadas</h4>
</div>
<div class="card-body">
<ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
<li class="nav-item"><a class="nav-link active" href="#solid-rounded-tab1" data-toggle="tab">Início</a></li>
<li class="nav-item"><a class="nav-link" href="#solid-rounded-tab2" data-toggle="tab">Perfil</a></li>
<li class="nav-item"><a class="nav-link" href="#solid-rounded-tab3" data-toggle="tab">Mensagens</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane show active" id="solid-rounded-tab1">
Conteúdo da aba 1
</div>
<div class="tab-pane" id="solid-rounded-tab2">
Conteúdo da aba 2
</div>
<div class="tab-pane" id="solid-rounded-tab3">
Conteúdo da aba 3
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card">
<div class="card-header">
<h4 class="card-title">Abas arredondadas justificadas</h4>
</div>
<div class="card-body">
<ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified">
<li class="nav-item"><a class="nav-link active" href="#solid-rounded-justified-tab1" data-toggle="tab">Início</a></li>
<li class="nav-item"><a class="nav-link" href="#solid-rounded-justified-tab2" data-toggle="tab">Perfil</a></li>
<li class="nav-item"><a class="nav-link" href="#solid-rounded-justified-tab3" data-toggle="tab">Mensagens</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane show active" id="solid-rounded-justified-tab1">
Conteúdo da aba 1
</div>
<div class="tab-pane" id="solid-rounded-justified-tab2">
Conteúdo da aba 2
</div>
<div class="tab-pane" id="solid-rounded-justified-tab3">
Conteúdo da aba 3
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<!-- </div> -->
</body>
</html>