<!DOCTYPE html>
<html lang="pt-br"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Pousadinha</title>
	<link rel="shortcut icon" type="image/x-icon" href="/pousadinha-thymeleaf/layout/admin/assets/img/favicon.png">
	<link rel="stylesheet" href="/pousadinha-thymeleaf/layout/admin/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/pousadinha-thymeleaf/layout/admin/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/pousadinha-thymeleaf/layout/admin/assets/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/pousadinha-thymeleaf/layout/admin/assets/css/feathericon.min.css">
	<link rel="stylehseet" href="https://cdn.oesmith.co.uk/morris-0.5.1.css">
	<link rel="stylesheet" href="/pousadinha-thymeleaf/layout/admin/assets/plugins/morris/morris.css">
	<link rel="stylesheet" href="/pousadinha-thymeleaf/layout/admin/assets/css/style.css"> 
</head>

<body>
	<div class="main-wrapper">
		<div class="header">
			<div class="header-left">
				<a href="/admin/admin-index.html" class="logo"> <img src="/pousadinha-thymeleaf/layout/admin/assets/img/hotel_logo.png" width="50" height="70" alt="logo"> <span class="logoclass">POUSADINHA</span> </a>
				<a href="/admin/admin-index.html" class="logo logo-small"> <img src="/pousadinha-thymeleaf/layout/admin/assets/img/hotel_logo.png" alt="Logo" width="30" height="30"> </a>
			</div>
			<a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
			<a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
			<ul class="nav user-menu">
				<li class="nav-item dropdown noti-dropdown">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span> </a>
					<div class="dropdown-menu notifications">
						<div class="topnav-dropdown-header"> <span class="notification-title">Notificações</span> <a href="javascript:void(0)" class="clear-noti"> Limpar Tudo </a> </div>
						<div class="noti-content">
							<ul class="notification-list">
								<li class="notification-message">
									<a href="#">
										<div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image" src="/pousadinha-thymeleaf/layout/admin/assets/img/profiles/avatar-02.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Carlson Tech</span> aprovou <span class="noti-title">seu orçamento</span></p>
												<p class="noti-time"><span class="notification-time">4 minutos atrás</span> </p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image" src="/pousadinha-thymeleaf/layout/admin/assets/img/profiles/avatar-11.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">International Software
													Inc</span> enviou uma fatura no valor de <span class="noti-title">$218</span></p>
												<p class="noti-time"><span class="notification-time">6 minutos atrás</span> </p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image" src="/pousadinha-thymeleaf/layout/admin/assets/img/profiles/avatar-17.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">John Hendry</span> enviou um pedido de cancelamento <span class="noti-title">Apple iPhone
													XR</span></p>
												<p class="noti-time"><span class="notification-time">8 minutos atrás</span> </p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image" src="/pousadinha-thymeleaf/layout/admin/assets/img/profiles/avatar-13.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Mercury Software
												Inc</span> adicionou um novo produto <span class="noti-title">Apple
												MacBook Pro</span></p>
												<p class="noti-time"><span class="notification-time">12 minutos atrás</span> </p>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="topnav-dropdown-footer"> <a href="#">Ver todas as notificações</a> </div>
					</div>
				</li>
				<li class="nav-item dropdown has-arrow">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img class="rounded-circle" src="/pousadinha-thymeleaf/layout/admin/assets/img/profiles/avatar-01.jpg" width="31" alt="Soeng Souy"></span> </a>
					<div class="dropdown-menu">
						<div class="user-header">
							<div class="avatar avatar-sm"> <img src="/pousadinha-thymeleaf/layout/admin/assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle"> </div>
							<div class="user-text">
								<h6>Soeng Souy</h6>
								<p class="text-muted mb-0">Administrador</p>
							</div>
						</div> <a class="dropdown-item" href="profile.html">Meu Perfil</a> <a class="dropdown-item" href="settings.html">Configurações da Conta</a> <a class="dropdown-item" href="login.html">Sair</a> </div>
				</li>
			</ul>
			<div class="top-nav-search">
				<form>
					<input type="text" class="form-control" placeholder="Pesquisar aqui">
					<button class="btn" type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>
		</div>
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="active"> <a href="/admin/admin-index.html"><i class="fas fa-tachometer-alt"></i> <span>Painel</span></a> </li>
						<li class="list-divider"></li>
						<li class="submenu"> <a href="#"><i class="fas fa-suitcase"></i> <span> Reservas </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="all-booking.html"> Todas as Reservas </a></li>
								<li><a href="edit-booking.html"> Editar Reserva </a></li>
								<li><a href="add-booking.html"> Adicionar Reserva </a></li>
							</ul>
						</li>
						<li class="submenu"> <a href="#"><i class="fas fa-user"></i> <span> Clientes </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="all-customer.html"> Todos os Clientes </a></li>
								<li><a href="edit-customer.html"> Editar Cliente </a></li>
								<li><a href="add-customer.html"> Adicionar Cliente </a></li>
							</ul>
						</li>
						<li class="submenu"> <a href="#"><i class="fas fa-key"></i> <span> Quartos </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="all-rooms.html">Todos os Quartos </a></li>
								<li><a href="edit-room.html"> Editar Quartos </a></li>
								<li><a href="add-room.html"> Adicionar Quartos </a></li>
							</ul>
						</li>
						<li class="submenu"> <a href="#"><i class="fas fa-user"></i> <span> Funcionários </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="all-staff.html">Todos os Funcionários </a></li>
								<li><a href="edit-staff.html"> Editar Funcionário </a></li>
								<li><a href="add-staff.html"> Adicionar Funcionário </a></li>
							</ul>
						</li>
						<li> <a href="pricing.html"><i class="far fa-money-bill-alt"></i> <span>Preços</span></a> </li>
						<li class="submenu"> <a href="#"><i class="fas fa-share-alt"></i> <span> Aplicativos </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="chat.html"><i class="fas fa-comments"></i><span> Chat </span></a></li>
								<li class="submenu"> <a href="#"><i class="fas fa-video camera"></i> <span> Chamadas </span> <span class="menu-arrow"></span></a>
									<ul class="submenu_class" style="display: none;">
										<li><a href="voice-call.html"> Chamada de Voz </a></li>
										<li><a href="video-call.html"> Chamada de Vídeo </a></li>
										<li><a href="incoming-call.html"> Chamada Recebida </a></li>
									</ul>
								</li>
								<li class="submenu"> <a href="#"><i class="fas fa-envelope"></i> <span> Email </span> <span class="menu-arrow"></span></a>
									<ul class="submenu_class" style="display: none;">
										<li><a href="compose.html">Compor Email </a></li>
										<li><a href="inbox.html"> Caixa de Entrada </a></li>
										<li><a href="mail-veiw.html"> Visualizar Email </a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="submenu"> <a href="#"><i class="fas fa-user"></i> <span> Empregados </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="employees.html">Lista de Empregados </a></li>
								<li><a href="leaves.html">Licenças </a></li>
								<li><a href="holidays.html">Feriados </a></li>
								<li><a href="attendance.html"> Presenças </a></li>
							</ul>
						</li>
						<li class="submenu"> <a href="#"><i class="far fa-money-bill-alt"></i> <span> Contas </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="invoices.html">Faturas </a></li>
								<li><a href="payments.html"> Pagamentos </a></li>
								<li><a href="expenses.html"> Despesas </a></li>
								<li><a href="taxes.html"> Impostos </a></li>
								<li><a href="provident-fund.html"> Fundo de Previdência </a></li>
							</ul>
						</li>
						<li class="submenu"> <a href="#"><i class="fas fa-book"></i> <span> Folha de Pagamento </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="salary.html">Salário do Funcionário </a></li>
								<li><a href="salary-veiw.html">Holerite </a></li>
							</ul>
						</li>
						<li> <a href="calendar.html"><i class="fas fa-calendar-alt"></i> <span>Calendário</span></a> </li>
						<li class="submenu"> <a href="#"><i class="fe fe-table"></i> <span> Blog </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="blog.html">Blog </a></li>
								<li><a href="blog-details.html">Visualizar Blog </a></li>
								<li><a href="add-blog.html">Adicionar Blog </a></li>
								<li><a href="edit-blog.html">Editar Blog </a></li>
							</ul>
						</li>
						<li> <a href="/pousadinha-thymeleaf/layout/admin/assets.html"><i class="fas fa-cube"></i> <span>Ativos</span></a> </li>
						<li> <a href="activities.html"><i class="far fa-bell"></i> <span>Atividades</span></a> </li>
						<li class="submenu"> <a href="#"><i class="fe fe-table"></i> <span> Relatórios </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="expense-reports.html">Relatório de Despesas </a></li>
								<li><a href="invoice-reports.html">Relatório de Faturas </a></li>
							</ul>
						</li>
						<li> <a href="settings.html"><i class="fas fa-cog"></i> <span>Configurações</span></a> </li>
						<li class="list-divider"></li>
						<li class="menu-title mt-3"> <span>ELEMENTOS DE UI</span> </li>
						<li class="submenu"> <a href="#"><i class="fas fa-laptop"></i> <span> Componentes </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="uikit.html">Kit de UI </a></li>
								<li><a href="typography.html">Tipografia </a></li>
								<li><a href="tabs.html"> Abas </a></li>
							</ul>
						</li>
						<li class="submenu"> <a href="#"><i class="fas fa-edit"></i> <span> Formulários </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="form-basic-inputs.html">Entrada Básica </a></li>
								<li><a href="form-input-groups.html">Grupos de Entrada </a></li>
								<li><a href="form-horizontal.html">Formulário Horizontal </a></li>
								<li><a href="form-vertical.html">Formulário Vertical </a></li>
							</ul>
						</li>
						<li class="submenu"> <a href="#"><i class="fas fa-table"></i> <span> Tabelas </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="tables-basic.html">Tabela Básica </a></li>
								<li><a href="tables-datatables.html">Tabela de Dados </a></li>
							</ul>
						</li>
						<li class="list-divider"></li>
						<li class="menu-title mt-3"> <span>EXTRAS</span> </li>
						<li class="submenu"> <a href="#"><i class="fas fa-columns"></i> <span> Páginas </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="login.html">Entrar </a></li>
								<li><a href="register.html">Registrar </a></li>
								<li><a href="forgot-password.html">Esqueci a Senha </a></li>
								<li><a href="change-password.html">Alterar Senha </a></li>
								<li><a href="lock-screen.html">Tela de Bloqueio </a></li>
								<li><a href="profile.html">Perfil </a></li>
								<li><a href="gallery.html">Galeria </a></li>
								<li><a href="error-404.html">Erro 404 </a></li>
								<li><a href="error-500.html">Erro 500 </a></li>
								<li><a href="blank-page.html">Página em Branco </a></li>
							</ul>
						</li>
						<li class="submenu"> <a href="#"><i class="fas fa-share-alt"></i> <span> Multi Nível </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="">Nível 1 </a></li>
								<li><a href="">Nível 2 </a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="page-wrapper">
		
		<div class="content container-fluid" layout:fragment="conteudo">
		
		</div>
	
	<footer class="aw-layout-footer  js-content" th:fragment="footer">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">&copy; 2025 MrBatista. Todos os direitos reservados.</span>
		</div>
	</footer>
	</div>
</div>
		
	</div>
	<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="/pousadinha-thymeleaf/layout/admin/assets/js/jquery-3.5.1.min.js"></script>
	<script src="/pousadinha-thymeleaf/layout/admin/assets/js/popper.min.js"></script>
	<script src="/pousadinha-thymeleaf/layout/admin/assets/js/bootstrap.min.js"></script>
	<script src="/pousadinha-thymeleaf/layout/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/pousadinha-thymeleaf/layout/admin/assets/plugins/raphael/raphael.min.js"></script>
	<script src="/pousadinha-thymeleaf/layout/admin/assets/plugins/morris/morris.min.js"></script>
	<script src="/pousadinha-thymeleaf/layout/admin/assets/js/chart.morris.js"></script>
	<script src="/pousadinha-thymeleaf/layout/admin/assets/js/script.js"></script>
	</div>
</body>

</html>