<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pousadinha</title>
</head>
<body>
	<h1>Página funcionando!</h1>
	
	<form method="POST" th:object="${hospede}">	
		<span th:text="${#fields.hasAnyErrors}"></span>
		<div th:each="erro : ${#fields.detailedErrors()}">
			<span th:text="${erro.message}"></span>
		</div>
	
		<span th:text="${msg}"></span><br/>
		<label>Nome</label><br/>
		<input type="text" name="nome"><br/><br/>
			
		<label>Sobrenome</label><br/>
		<input type="text" name="sobrenome"><br/><br/>
		
		<input type="submit" value="Salvar">
	</form>
</body>
</html>