<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" >
<head></head>
<body>
    
<div class="header" th:fragment="barraNavegacao">
			<div class="header-left">
				<a href="/admin/admin-index.html" class="logo"> <img th:src="@{/layout/admin/assets/img/hotel_logo.png}" width="50" height="70" alt="logo"> <span class="logoclass">POUSADINHA</span> </a>
				<a href="/admin/admin-index.html" class="logo logo-small"> <img th:src="@{/layout/admin/assets/img/hotel_logo.png}" alt="Logo" width="30" height="30"> </a>
			</div>
			<a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
			<a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
			<ul class="nav user-menu">
				<li class="nav-item dropdown noti-dropdown">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span> </a>
					<div class="dropdown-menu notifications">
						<div class="topnav-dropdown-header"> <span class="notification-title">Notificações</span> <a href="javascript:void(0)" class="clear-noti"> Limpar Tudo </a> </div>
						<div class="noti-content">
							<ul class="notification-list">
								<li class="notification-message">
									<a href="#">
										<div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image" th:src="@{/layout/admin/assets/img/profiles/avatar-02.jpg}">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Carlson Tech</span> aprovou <span class="noti-title">seu orçamento</span></p>
												<p class="noti-time"><span class="notification-time">4 minutos atrás</span> </p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image" th:src="@{/layout/admin/assets/img/profiles/avatar-11.jpg}">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">International Software
												Inc</span> enviou uma fatura no valor de <span class="noti-title">$218</span></p>
												<p class="noti-time"><span class="notification-time">6 minutos atrás</span> </p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image" th:src="@{/layout/admin/assets/img/profiles/avatar-17.jpg}">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">John Hendry</span> enviou um pedido de cancelamento <span class="noti-title">Apple iPhone
												XR</span></p>
												<p class="noti-time"><span class="notification-time">8 minutos atrás</span> </p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media"> <span class="avatar avatar-sm">
											<img class="avatar-img rounded-circle" alt="User Image" th:src="@{/layout/admin/assets/img/profiles/avatar-13.jpg}">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Mercury Software
												Inc</span> adicionou um novo produto <span class="noti-title">Apple
												MacBook Pro</span></p>
												<p class="noti-time"><span class="notification-time">12 minutos atrás</span> </p>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="topnav-dropdown-footer"> <a href="#">Ver todas as notificações</a> </div>
					</div>
				</li>
				<li class="nav-item dropdown has-arrow">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img class="rounded-circle" th:src="@{/layout/admin/assets/img/profiles/avatar-01.jpg}" width="31" alt="Soeng Souy"></span> </a>
					<div class="dropdown-menu">
						<div class="user-header">
							<div class="avatar avatar-sm"> <img th:src="@{/layout/admin/assets/img/profiles/avatar-01.jpg}" alt="User Image" class="avatar-img rounded-circle"> </div>
							<div class="user-text">
								<h6>Soeng Souy</h6>
								<p class="text-muted mb-0">Administrador</p>
							</div>
						</div> <a class="dropdown-item" href="profile.html">Meu Perfil</a> <a class="dropdown-item" href="settings.html">Configurações da Conta</a> <a class="dropdown-item" href="login.html">Sair</a> </div>
				</li>
			</ul>
			<div class="top-nav-search" th:if="${mostrarBusca}">
				<form>
					<input type="text" class="form-control" placeholder="Pesquisar aqui">
					<button class="btn" type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>
		</div>
	</body>
</html>